<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link href="{{ url_for('static', filename='styles2.css') }}" rel="stylesheet">
</head>

<body>
    <h1>Logowanie</h1>
    <form method="POST">
        <div class="form-group">
            <label for="username">Nazwa użytkownika ( username ):</label>
            <input type="text" id="username" name="username" placeholder="Wprowadź nazwę użytkownika" required>
        </div>
        <div class="form-group">
            <label for="password">Hasło ( password ):</label>
            <input type="password" id="password" name="password" placeholder="Wprowadź hasło" required>
        </div>
        <button type="submit">Zaloguj się</button>
    </form>
    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}

    <h2>Dostępne Endpointy</h2>
    <ul>
        {% for endpoint in endpoints %}
        <li><strong>{{ endpoint.path }}</strong>: {{ endpoint.description }}</li>
        {% endfor %}
    </ul>
</body>

</html>