<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podsumowanie</title>
    <link href="{{ url_for('static', filename='styles2.css') }}" rel="stylesheet">
</head>

<body>
    <h1>Podsumowanie Rejestracji</h1>
    <ul>
        {% for key, value in form_data.items() %}
        <li><strong>{{ key | capitalize }}:</strong> {{ value }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('logout') }}">Powrót do formularza</a>
</body>

</html>